---
import { languages } from '../../i18n/ui';
import { NUMBER_OF_POSTS_PER_PAGE } from '../../server-constants'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../../lib/notion/client'
import Layout from '../../layouts/Layout.astro'
import NoContents from '../../components/NoContents.astro'
import PostDate from '../../components/PostDate.astro'
import PostTags from '../../components/PostTags.astro'
import PostTitle from '../../components/PostTitle.astro'
import PostFeaturedImage from '../../components/PostFeaturedImage.astro'
import PostExcerpt from '../../components/PostExcerpt.astro'
import ReadMoreLink from '../../components/ReadMoreLink.astro'
import Pagination from '../../components/Pagination.astro'
import BlogPostsLink from '../../components/BlogPostsLink.astro'
import BlogTagsLink from '../../components/BlogTagsLink.astro'
import styles from '../../styles/blog.module.css'
import Socials from '../../components/Socials.astro';
import Head from '../../components/Head.astro';
import Menu from '../../components/Menu.astro';


const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(3),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])

import { ViewTransitions } from 'astro:transitions';

---
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@700&family=Noto+Sans+Mono:wght@500&family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />
</head>

<title> So Tokumaru</title>

<body class="bg-white dark:bg-black">

<Head>
  <p slot="title">So Tokumaru</p>
  <p slot="paragraph">High School Student From Tokyo in Malaysia,<br>
    Working in the educational and digital fields, Love Minecraft</p>
</Head>

<Menu 
title1="Blogs"
link1="#"

title2="About mee"
link2="#"

title3="Contact"
link3="#"
/>


<div class="md:m-4 mt-2 md:rounded-xl font-mono bg-gray-300 md:p-8 p-2 text-black">


  <!--Blog(notionから読み込む)-->
  <div class="flex h-full w-full mt-4">
    <div  class="p-4 m-2 rounded-xl  border-black">
    <h1 class="flex justify-center text-5xl font-mono">Blogs</h1>
    </div>
    <div  class="m-2 rounded-xl bg-blue-0  border-black colorChange
    border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r flex-none p-4 relative">
      <a href="../blog" aria-label="See more blog posts" class="justify-center font-mono flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
      </a>
    </div>
  </div>
  
  <!--blogカード-->
  <div  class="grid md:grid-cols-3 md:gap-4">

    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div class="relative {styles.post} p-4 m-2 bg-blue rounded-xl border-black colorChange 
           border border-b-4 border-r-4 flex flex-col justify-center max-h-80 overflow-hidden absolute
           hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r
          ">
            <PostDate post={post} />
            <PostTitle post={post} />
            <!--<PostFeaturedImage post={post} />-->
            <PostExcerpt post={post} />
            <ReadMoreLink post={post} />
             
          </div>
        ))
      )
    }
  </div>


</div>


  </div>
  <!--詳しい自己紹介、スキル、経歴とか-->
  <div class="md:m-4 mt-2 md:rounded-xl font-mono bg-gray-300 md:p-8 p-2 text-black">
    <div class="flex h-full w-full mt-4">
      <div  class="p-4 m-2 rounded-xl  border-black">
      <h1 class="flex justify-center text-5xl font-mono">About me</h1>
      </div>
    </div>
    <div class="h-screen">
      Hi there! I'm high school student called 'So'(that's my super-short name) who working based on internet. In real world, I am from Tokyo and living in Selangor, Malaysia. Love Minecraft, Design, Team-building.
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
</div>
</body>

<!--
使用可能な色
bg-blue
bg-cyan-0
bg-blue-0






 -->