---
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import { getDatabase } from '../lib/notion/client.ts'

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()


const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(getStaticFilePath('/ogp.png'), Astro.site)

// APIからSNSのユーザーID取得するところ。ピポピポ。
import {SHEET_API_KEY, SHEET_ID} from '../server-constants'
const response = await fetch(`https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/Socials!F2:F2/?key=${SHEET_API_KEY}`);
const data = await response.json();
const sheetData = data.values;

// APIからbioデータを取得するところ。ピポピポ。
const response2 = await fetch(`https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/Bio!B2:C2/?key=${SHEET_API_KEY}`);
const data2 = await response2.json();
const sheetData2 = data2.values;
---

<!DOCTYPE html>
<html lang="ja">
<!--インデックス拒否　言語別の重複を避けるため -->
<meta name="robots" content="noindex" />
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0RSTYH737D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0RSTYH737D');
</script>
  <script type="text/javascript">
    window.onload = function() {
        var lang = navigator.language || navigator.userLanguage; 
        if(lang.indexOf('ja') >= 0) {
            window.location.href = '../ja/';
        } else {
            window.location.href = '../en/';
        }
    }
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>So Tokumaru</title>
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel=alternate href={`${siteURL}/ja`} hreflang=ja />
    <link rel=alternate href={`${siteURL}/en`} hreflang=en /> 
    <link rel=alternate href={`${siteURL}/`} hreflang="x-default" />  

    {sheetData2.map((item, index) => (
    <meta name="description" content={item[1]} />
    <meta property="og:description" content={item[1]} />
    <meta name="twitter:description" content={item[1]} />
    ))}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon-precomposed" href="/soumame.png" />
  
    <meta property="og:url" content="https://so-bean.work" />
    <meta property="og:title" content="So Tokumaru" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/ogp.png" />
    <meta property="og:site_name" content="So Tokumaru" />
    <meta property="og:locale" content="ja_JP"  />
    <meta name="twitter:card" content="summary_large_image" />
    {sheetData.map((item, index) => (
    <meta name="twitter:site" content={item[0]} />
    ))}
    <meta name="twitter:image:src" content="/ogp.png" />
  
  
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />
</head>
<body class="w-screen h-screen bg-container2 items-center justify-center flex">
    <div>
        <div class="flex items-center justify-center m-5">
            <div class="status flex justify-center items-center">
                <img src="/hmm.svg" alt="logo" class="w-20 h-20 animate-spin " />
                <span class="sr-only">Loading...</span>           
            </div>
        </div>
        <div class="flex flex-wrap justify-center items-center">
            <a class="
            border border-b-4 border-r-4 active:border-t-4 active:border-l-4 active:border-b active:border-r 
            m-2 p-2 rounded-xl font-bold text-tertialy" href="/ja">ロード画面から抜け出せない場合はここ押してね</a>
            <a class="
            border border-b-4 border-r-4 active:border-t-4 active:border-l-4 active:border-b active:border-r 
            m-2 p-2 rounded-xl font-bold text-tertialy" href="/en">Click if you stuck at loading screen</a>
        </div>
    </div>
</body>
</html>