---
import type PromisePool from '@supercharge/promise-pool';
import {SHEET_API_KEY, SHEET_ID} from '../server-constants'
import { languages } from '../i18n/ui';


// APIからSocialsデータを取得するところ。ピポピポ。
const { Sheet } = Astro.props;
const response = await fetch(`https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${Sheet}/?key=${SHEET_API_KEY}`);
const data = await response.json();
const sheetData = data.values;

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<meta charset="UTF-8">
<head>
  <script src="https://kit.fontawesome.com/e09742380f.js" crossorigin="anonymous"></script>
</head>

<div id="footer" class="md:rounded-3xl rounded-t-3xl md:border-4 border-black md:mt-4 md:p-8 p-2 md:m-4 text-white bg-outline">
  <div class="sm:flex sm:justify-between flex-wrap h-full w-full my-4">

        <!--サイトマップ -->
        <div class="flex flex-col sm:flex-row m-4 md:mt-4 content-end">
          <a href={`/${lang}/`} aria-label="home" class=" m-2 bg-button text-secondary p-3 font-bold rounded-3xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">
            Home</a>
              <a href={`/${lang}/#about`} aria-label="about" class=" m-2 bg-button text-tertialy p-3 rounded-3xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">
                About</a>
              <a href={`/${lang}/#history`} aria-label="career" class=" m-2 bg-button text-tertialy p-3  rounded-3xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">
              Career</a>
              <a href={`/${lang}/#footer`} aria-label="contact" class=" m-2 bg-button text-tertialy p-3 rounded-3xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">
                Contact</a>
          <a href="/blog" aria-label="blog" class="break-keep m-2 bg-button text-secondary p-3 font-bold rounded-3xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">
            Blog</a>
 
        </div>
        <div class="flex m-4 md:mt-4 text-sm content-end">
          <ul class="text-black dark:text-gray-200 flex" aria-labelledby="dropdownDefaultButton">
            {Object.entries(languages).map(([lang, label]) => (
              <li>
                <a href={`/${lang}`} aria-label={`switch language to ${lang}`} class="break-keep m-2 bg-surface text-secondary p-3 font-bold rounded-3xl border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r">{label}</a>
              </li>
            ))}
          </ul>
        </div>
  </div>

  <div class="flex items-center justify-center">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 w-full max-w-7xl">
    {
        sheetData.map((item, index) => ( 
          <div class={`${item[5]} m-2 rounded-xl border-black relative md:flex md:p-4 p-2 bg-button
          border border-b-4 border-r-4 hover:border-t-4 hover:border-l-4 hover:border-b hover:border-r`}>

          <span class={`h-6 w-6 md:h-10 md:w-10 text-tertialy m-2 mr-4 fill-tertialy fa-solid ${item[1]}`}></span>
            <div>
              <h1 class="text-xl md:text-2xl text-tertialy font-bold">{item[3]}</h1>
              <h2 class="text-base md:text-xl text-tertialy">{item[4]}</h2>
            </div>
            <a href={item[2]} target="_blank" aria-label={item[3]} class="absolute right-0 bottom-0 w-full h-full"/>
          </div>
          
        ))
    }
    </div>

  </div>
  <div class="flex justify-center items-center mt-2">
    &copy;So Tokumaru
    <img src="/zzz.svg" alt="Astro Logo" class="h-24 w-24 ml-2" alt="sleeping and floating soumame"/>
  </div>

</div>
