---
import type { Post, SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import '../styles/notion-color.css'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props
---

<div class="post-tags my-2">
  {
    post.Tags &&
      post.Tags.length > 0 &&
      post.Tags.map((tag: SelectProperty) => {
        if (enableLink) {
          return (
            <a href={getTagLink(tag.name)} class={`tag ${tag.color} border`}>
              {tag.name}
            </a>
          )
        }
        return <span class={`tag ${tag.color}`}>{tag.name}</span>
      })
  }
</div>

<style>
  .post-tags {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  .post-tags a,
  .post-tags span {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    min-width: 0;
    border-radius: 0.75rem;
    padding: 4px 12px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
    background: rgba(227, 226, 224, 0.5);
  }
</style>
