---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div class="mt-4">
  <div class="">
    {
      nextPost && (
        <a href={getPostLink(nextPost.Slug)} class="colored block center leading-tight text-base  mt-2 p-2 border rounded-xl hover:bg-container2">
          <div class="mt-2 p-2 text-lg">◀︎ Next</div>
          <div>{nextPost.Title}</div>
          <PostTags post={nextPost} enableLink={false} />
        </a>
      )
    }
  </div>
  <div class="">
    {
      prevPost && (
        <a href={getPostLink(prevPost.Slug)} class="colored block center leading-tight text-base  mt-2 p-2 border rounded-xl hover:bg-container2">
          <div class="mt-2 p-2 text-lg">▶︎ Previous</div>
          <div>{prevPost.Title}</div>
          <PostTags post={prevPost} enableLink={false} />
        </a>
      )
    }
  </div>
  <div class="flex">
    <a href={getNavLink('/')} class="text place-items-center justify-center flex border rounded-xl font-bold hover:bg-container2 p-2 my-2 shrink">↑Top</a>
    <a href="/blog" class="text place-items-center justify-center flex border rounded-xl hover:bg-container2 p-2 my-2 ml-2 shrink">Go Blog Home</a>
  </div>
</div>

<style>
  div.post-relative-link {
  }
  div.post-relative-link > div {
  }
  div.post-relative-link > div > a {

  }
  div.post-relative-link > div > a.text {
    margin-top: 1rem;
    padding: 0.5rem;
    color: inherit;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 500;
  }
  div.post-relative-link > div > a.colored {
    padding: 1rem;
    border-radius: var(--radius);
    color: var(--fg);
    background: rgba(227, 226, 224, 0.5);
  }
  div.post-relative-link > div > a.colored > div:first-child {
    width: auto;
    text-align: left;
    font-size: 0.85rem;
  }
  div.post-relative-link > div > a.colored > div:nth-child(2) {
    width: auto;
    padding: 0.2rem 0 0.4rem;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
  }
</style>
